<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475093314294-gb169tv6224dnf092f5o0k3a57ols9hp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475093314294-gb169tv6224dnf092f5o0k3a57ols9hp</string>
	<key>API_KEY</key>
	<string>AIzaSyAXLwiyHxMB_R885ts0iMben4Sm52vOqgk</string>
	<key>GCM_SENDER_ID</key>
	<string>475093314294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nutz.jci</string>
	<key>PROJECT_ID</key>
	<string>jci-nutz</string>
	<key>STORAGE_BUCKET</key>
	<string>jci-nutz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475093314294:ios:4c4771db250b4bcecfdad7</string>
</dict>
</plist>